@media only screen and (min-width: 601px) {
  .greet-main {
    width: 75%;
  }
  .main {
    width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  .greet-main {
    width: 90%;
  }
  .main {
    width: 90%;
  }
}

.main {
  padding: 20px 10px;
  margin: 0px auto;
}
.greet-main {
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.gretting-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}

.subTitle {
  color: #868e96 !important;
}

.greeting-main {
  display: flex;
}

.greeting-main > * {
  flex: 1;
  margin: auto;
  /*margin-bottom: 30px;*/
}
.button-greeting-div {
  display: flex;
  margin-top: 20px;
}

.greeting-text {
  font-size: 3em;
  line-height: 1.1;
  color: black !important;
}

.greeting-text-p {
  font-size: 1.2em;
  line-height: 1.5em;
}

.greeting-image-div > img {
  max-width: 100%;
  height: auto;
  padding-top: 2em;
}
.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: 2;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.greeting-text {
  margin-top: 13%;
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }
  .greeting-text {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: block;
  }
}
