.small-dark {

}

.blog-container {
  border-radius: 10px;
  color: #586069;
  box-shadow: 0 0 36px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  height: 200px;
}

.blog-title {
  color: #262626;
  font-size: 24px;
  line-height: 24px;
  font-weight: 900;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 14px;
  margin-top: 28px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.small {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5rem;
  color: #666666;
  padding: 0px 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin: 0px;
}


.blog-card {
  display: block;
  position: relative;
  background-color: white !important;
  border-radius: 4px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  height: 100%;
}


.blog-card:hover {
  background-color: #e0e0e0 !important;
}


.blog-card-shadow {

}
